#about-us {
  font-family: "Open Sans", sans-serif;
  color: #444444;
  justify-content: center;
  background-color: #f6f9fe;
  padding: 50px 0;
  .about-us {
    width: 100%;
  }
  .about-us-content {
    margin-left: 10px;
    align-content: space-between;
    h3 {
      font-size: 26px;
      font-weight: bold;
      & + p {
        font-style: italic;
      }
    }
    h5 {
      font-size: 18px;
      font-weight: bold;
      color: #555555;
    }
    ul {
      list-style: none;
      li {
        display: flex;
      }
      text-align: start;
    }
  }
  .about-us-context {
    margin-top: 30px;
    display: flex;
    align-items: center;
    p {
      color: #555555;
    }
    img {
      width: 636px;
      height: 609px;
    }
    ul {
      i {
        box-shadow: rgba(0, 0, 0, 0.096) 0px 10px 36px 0px,
          rgba(0, 0, 0, 0.013) 0px 0px 0px 1px;
        border-radius: 50px;
        padding: 20px 20px;
        height: 10%;
        align-self: flex-start;
        box-sizing: border-box;
        background-color: white;
        font-size: 20px;
        color: #106eea;
      }
      li div {
        margin-left: 20px;
      }
    }
  }
}
.container {
  max-width: 1320px;
}
.heading {
  align-items: center;
  display: block;
  text-align: center;
  p {
    font-size: 16px;
    font-weight: bold;
    color: #444444;
    margin: 15px 279px 0;
  }
  & > span {
    color: #106eea;
    border: 1px;
    padding: 10px 20px;
    background-color: #e7f1fd;
    border-radius: 40px;
    font-weight: bold;
    box-sizing: border-box;
    font-size: 14px;
  }
  h2 {
    margin-top: 20px;
    font-size: 32px;
    font-weight: bold;
    span {
      color: #106eea;
    }
  }
}
